# https://stackoverflow.com/a/25592735/1219634

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore build scripts
!build_script
!build_script_64

# Unignore make files
!makefile
!Makefile

xcelium.d/
*.log
*.so
*.history
.nimcache/
sigusrdump.out
work/
xrun.key
EGGX080.tar.gz
*.o
mandel
sample/
*.a
libdpi.json
*.rsp
*.def
*rtw.mk
*.tmw
*.mat
.bpad/
.simvision/
bpad*.err
waves.shm/
*.ndi
stdlib_*nim.c
stdlib_*nim.cpp
*.nimble@spkgs@*
.mypy_cache/
