xcelium.d/
*.log
*.so
*.history
.nimcache/
sigusrdump.out
work/
xrun.key
EGGX080.tar.gz
*.o
mandel
/systemverilog_dpi_now/user-interface/draw/EGGX080/egg
sample/
/systemverilog_dpi_now/user-interface/draw/draw
*.a
/systemverilog_dpi_now/user-interface/libdpi
/systemverilog_dpi_now/user-interface/draw/nim_mandel
